<div class="announcement-bar">
  <p>{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "Bannière annonce",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Texte",
      "default": "Bienvenue sur Ricky_shop"
    }
  ]
}
{% endschema %}
